header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

main {
    min-height: 70vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}